{% extends "base.html" %}
{% load i18n %}


{% block content %}
<strong>{{ msg }}</strong>
<p><b>{{ error }}</b></p>
  {% if form.errors%}
    <p> {% trans "Password or username is incorrect" %}</p>
  {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="username">{% trans "Username: " %}</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">{% trans "Password: " %}</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value={% trans "Submit" %}>
        <input type="hidden" name="next" value="loginpage">
    </form>

{% endblock %}